.header__lang-link {
  width: 100%;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
}

.header__lang-link:hover {
  opacity: .8;
}

@media all and (max-width: 767px) {
  .header__lang-link {
    line-height: 22px;
    font-size: 18px;
  }
}