.photo-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 16px;
  padding: 0 48px 92px;
}

@media all and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 24px 90px;
  }
}

@media all and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
    padding: 0 16px 64px;
  }
}