.cover__subtitle {
  max-width: 360px;
  margin: 0 auto 0;
  padding: 0 0 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  z-index: 2;
}