.header {
  display: grid;
  grid-template-columns: auto min-content min-content;
  grid-template-rows: 52px;
  grid-column-gap: 18px;
  max-width: 100%;
  max-height: 52px;
  padding: 28px 48px 0;
  margin-bottom: 56px;
  align-items: flex-end;
}

@media all and (max-width: 1024px) {
  .header {
    padding: 28px 24px 0;
    margin-bottom: 48px;
  }
}

@media all and (max-width: 768px) {
  .header {
    grid-template-rows: 42px;
    padding: 16px 16px 0; 
    margin-bottom: 48px;
  }
}
