.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 28px 48px 0;
  margin-bottom: 56px;
  box-sizing: border-box;
}

@media all and (max-width: 1023px) {
  .header {
    padding: 28px 24px 0;
    margin-bottom: 48px;
  }
}

@media all and (max-width: 767px) {
  .header {
    padding: 16px 16px 0;
    margin-bottom: 48px;
  }
}

