.lead__title {
  max-height: 200px;
  margin: 0 132px 32px;
   
  color: #fff;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px; 
  text-align: center;
}

@media all and (max-width: 1279px) {
  .lead__title {
    margin: 0 104px 32px;  
  }
}

@media all and (max-width: 1023px) {
  .lead__title {
    margin: 0 24px 32px;  
  }
}

@media all and (max-width: 767px) {
  .lead__title {
    max-height: 88px;
    margin: 0 16px 16px;  
    font-size: 40px;  
    line-height: 44px;
  }
}
