.intro {
  max-width: 690px;
  padding: 0 148px;
  margin-bottom: 92px;
  color: #fff;
}

@media all and (max-width: 1279px) {
  .intro {
    padding: 0 48px;
  }
}

@media all and (max-width: 1023px) {
  .intro {
    padding: 0 24px;
    max-width: 720px;
    margin-bottom: 88px;
  }
}

@media all and (max-width: 767px) {
  .intro {
    padding: 0 16px;
    margin-bottom: 64px;
  }
}
