.lead__subtitle {
  max-width: 640px;
  margin: 0 0 64px;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;
}

@media all and (max-width: 1279px) {
  .lead__subtitle {
    margin: 0 0 56px;  
  }
}

@media all and (max-width: 1023px) {
  .lead__subtitle {
    margin: 0 0 56px;  
  }
}

@media all and (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    margin: 0 0 40px;
    font-size: 16px;
    line-height: 20px;
  }
}