.cover__title {
  max-width: 560px;
  margin: 0 auto 32px;
  padding: 0;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  z-index: 2;
}