.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-gap: 48px 40px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media all and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-gap: 48px 32px;
  }
}

@media all and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-gap: 48px 28px;
  }
}

@media all and (max-width: 767px) {
  .place {
    grid-template-columns: 320px;
    grid-gap: 32px;
  }
}