.footer {
  display: grid;
  grid-template-columns: repeat(5, min-content) 1fr;
  grid-column-gap: 18px;
  width: 100%;
  max-width: 1280px;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0 48px 24px;
}

@media all and (max-width: 1279px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media all and (max-width: 1023px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media all and (max-width: 767px) {
  .footer {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    grid-gap: 32px;
    padding: 0 16px;
    margin-bottom: 24px;
  }
}